
clienteDialogo/ClienteDialogo.Admin/Controls/ControlReglas.js

clienteDialogo/ClienteDialogo.Admin/Controladores/ConexionManager.js

clienteDialogo/ClienteDialogo.GUI/Controladores/ConexionManager.js

clienteDialogo/ClienteDialogo/Controladores/ConexionManager.js

servicioDialogo/servicio.config.php
