/* 
    Document   : recuperacionContraseña
    Created on : 19-07-2012, 10:41:13 PM
    Author     : Cristian Chávez
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

